# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
my_int = 23
print(my_int)
print(type(my_int))

23
<class 'int'>

##### Assinging float

In [6]:
my_float = 3.14
print (my_float)

3.14

#### Performing Calculations on ints and floats

##### Addition

In [9]:
10 + 10

my_int + my_float

26.14

In [22]:
my_int = my_int +5
print(my_int)
my_int +=2

33

##### Subtraction

In [10]:
my_int - 3

20

In [25]:
my_int= my_int - 5
print(my_int)

20

##### Multiplication

In [11]:
my_float * 2

6.28

##### Division

In [14]:
type (10 / 2)

int(10/2)

5

##### Floor Division

In [16]:
10//2
11//2

5

##### Modulo

In [18]:
11%2

1

##### Exponential

In [20]:
10**2
10**3

1000

### String Input-Output

##### String Assignment

In [28]:
a_string = "hello world"

print(a_string)

print(type(a_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
print(a_string, end=" at end of string\n")
print("typically on a new line")
print("new line")

hello world at end of string
typically on a new line
new line

##### String Concatenation

In [37]:
a_string + " " + "padawans"

'hello world padawans'

In [40]:
new_string = "padawans"

print(a_string + " " = new_string)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2193900820.py, line 3)

##### Type Conversion

In [45]:
type(str(my_int))
type(my_int)

my_int = str(my_int)
my_int

'20'

##### input()

In [48]:
 user_name = input("What is your name?: ")
    
print(user_name)

What is your name?: Harrison
Harrison

##### format()

In [53]:
"User name is {} and age is {}".format(user_name, 32)

f"User name is {user_name} and age is {32}"

'User name is Harrison and age is 32'

##### Old Way (python 2)

In [55]:
"Foo %s" % (user_name)

'Foo Harrison'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [62]:
color = input("What color is your car?: ")
year = input("What year is your car?: ")
make = input("what make is your car?: ")
model = input("what model is your car?: ")
f"your car is a {color} {year} {make} {model}."

What color is your car?: rusty
What year is your car?: 2003
what make is your car?: honda
what model is your car?: trash pile

'your car is a rusty 2003 honda trash pile.'

### If Statements

In [68]:
#if <boolean expression>:
#    <action to run if boolean true>

if True:
    print("true")
    print("2nd action")
    
if False:
    print("false")

# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if 10<11:
    print("10<11")
    
if 10<=10:
    print("10<=10")
    
if 12 >= 10:
    print("12>=10")
    


# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

true
2nd action
10<11
10<=10
12>=10

##### 'is' keyword

In [129]:
#if 10 is 10:
 #   print("10 is 10")
    
my_dict = {'foo':'bar'}
my_dict_copy = my_dict
print(my_dict_copy)

my_dict is my_dict_copy

{'foo': 'bar'}

True

##### 'in' keyword

In [78]:
"b" in "brandt"

'h' in 'Harry'

if 'h' not in 'Harry':
    print('case insensitive')

case insensitive

##### 'not in' keyword'

In [ ]:
'p' not in 'Padawans'

if 'p' not in 'Padawans':
    print ""

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [85]:
user_input = input("enter a word: ")

if 'p' in user_input:
    print('yes')
else:
    print("no")

enter a word: blue
no

## Using 'and'/'or' with If Statements

In [ ]:
#see above

### Elif Statements

In [94]:
if False:
    print('false')
elif True:
    print("true")
    
if 10 == 10:
    print('10 ==10')
elif 10 > 0:
    print('10 > 0')
    
day = input('what day is it?: ')

if day == 'Friday':
    print('day off')
elif day == 'Saturday':
    print('Time to work on project')
elif day == 'Sunday':
    print('lets relax')
else:
    print('school day')

true
10 ==10
what day is it?: Saturday
Time to work on project

### Else Statements

In [ ]:
# see above

### For Loops

In [96]:
school = 'coding temple'

# for <loop variable> in <iterable>:
#    <code block>

for letter in school:
    print(letter)
    print('2nd action')
print('exit loop')

c
2nd action
o
2nd action
d
2nd action
i
2nd action
n
2nd action
g
2nd action

2nd action
t
2nd action
e
2nd action
m
2nd action
p
2nd action
l
2nd action
e
2nd action
exit loop

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [99]:
for num in range(10):
    if num == 4:
        continue
    print(num)

0
1
2
3
5
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [101]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [102]:
for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [103]:
 for num in range (5):
        print('entering outer loop')
        for letter in "dylan":
            print(f'{num = } {letter = }')
        print('completed inner loop')

entering outer loop
num = 0 letter = 'd'
num = 0 letter = 'y'
num = 0 letter = 'l'
num = 0 letter = 'a'
num = 0 letter = 'n'
completed inner loop
entering outer loop
num = 1 letter = 'd'
num = 1 letter = 'y'
num = 1 letter = 'l'
num = 1 letter = 'a'
num = 1 letter = 'n'
completed inner loop
entering outer loop
num = 2 letter = 'd'
num = 2 letter = 'y'
num = 2 letter = 'l'
num = 2 letter = 'a'
num = 2 letter = 'n'
completed inner loop
entering outer loop
num = 3 letter = 'd'
num = 3 letter = 'y'
num = 3 letter = 'l'
num = 3 letter = 'a'
num = 3 letter = 'n'
completed inner loop
entering outer loop
num = 4 letter = 'd'
num = 4 letter = 'y'
num = 4 letter = 'l'
num = 4 letter = 'a'
num = 4 letter = 'n'
completed inner loop

### While Loops

In [106]:
num = 0

while num < 10:
    print(num)
    num +=1 #num = num + 1
print('exit loop', num)

0
1
2
3
4
5
6
7
8
9
exit loop 10

##### Looping 'While True'

In [109]:
while True:
    print('playing game')
    playing = input("Are you still playing?:")
    if playing == 'no':
        break

playing game
Are you still playing?:no

##### While & For Loops Used Together

In [112]:
num = 0

while num < 5:
    for num2 in range(5):
        print(f'{num = } {num2}')
     num =+ 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

### Built-In Functions

##### range()

In [114]:
# range(start, stop, step)
list(range(10))

list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

##### len()

In [118]:
len('harry')

list(range(len('harry')))
student = 'harry'
for i in range(len(student)):
    print(f'{i = } {student[i]}')

i = 0 h
i = 1 a
i = 2 r
i = 3 r
i = 4 y


##### help()

In [120]:
#help(len)

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [122]:
type("abc")


isinstance("abc", int)

False

##### abs()

In [123]:
abs(5)

5

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [131]:
for num in range(15):
    if num**3 <= 1000:
        pass
    if num**3 >1000:
        break
    print(num**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [190]:
def primes(max: int):
    sieve = [True]*max
    for number in range(2, max//2):
        if sieve[number]:
               for multiple in range(number*2, max, number):
                    sieve[multiple] = False 
    print([prime for prime in range(2,max) if sieve[prime]])

primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [166]:
age = int(input("How old are you?: "))
if age < 18:
    print('You are a kid')
elif 17 < age < 66:
    print("You are an adult")
else:
    print("You are a senior, so you are too old to be in politics, geezer.")

How old are you?: 65
You are an adult